# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment directory
.venv/

# IDE settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Distribution and packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/


